@import "variables"

@font-face
  font-family: 'Inkpen2'
  src: url('/fonts/inkpen2-script-webfont.eot')
  src: url('/fonts/inkpen2-script-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/inkpen2-script-webfont.woff2') format('woff2'), url('/fonts/inkpen2-script-webfont.woff') format('woff'), url('/fonts/inkpen2-script-webfont.ttf') format('truetype'), url('/fonts/inkpen2-script-webfont.svg#inkpen2_scriptregular') format('svg')
  font-weight: normal
  font-style: normal

html, body
  height: 100%

body
  min-height: 100%
  padding-top: 56px

*
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif

p
  font-size: 15px
  line-height: 21px
  color: #444

a
  color: $brand-color
  &:hover
    color: darken($brand-color, 5)

#__nuxt,
#__layout
  height: 100%

.responsive-video
  position: relative
  padding-bottom: 50%
  padding-top: 25px
  height: 0

  iframe
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

.video-logo
  position: absolute
  top: 15px
  left: 35px
  z-index: 1

.btn-brand
  background-color: $brand-color
  color: #fff
  &:hover
    background-color: darken($brand-color, 5)
    color: #fff

.btn
  border-top-left-radius: 15px
  border-bottom-right-radius: 15px

.bg-brand
  background-color: $brand-color

.columns-2
  column-count: 2

.text-muted-light
  color: #999 !important

.accordion
  .card
    border: none
    .card-header
      background-color: transparent
      border: none
      padding: 0
      h5
        margin: 10px 0
        a
          text-align: left
          display: block
          span
            white-space: normal
          &:focus
            box-shadow: none
          i
            transition: transform .5s ease
            &.rotate
              transform: rotate(180deg)
    .card-body
      background-color: #f8f8f8
      margin-top: 10px
      border-radius: 5px
      p
        &:last-child
          margin-bottom: 0

label
  font-weight: bold
  font-size: .9rem
  margin-bottom: 0

@media screen and (max-width: 768px)
  .video-logo
    top: 8px
    left: 8px
    width: 90px

  #home,
  #situation,
  #support,
  #contact
    h1
      font-size: 2rem
    h3
      font-size: 1.5rem

  .columns-2
    column-count: 1
